@import '@/assets/stylesheets/all.scss';

.DetailProgressBar {
  width: 200px;
  margin-bottom: 20px;
  line-height: 24px;

  .field {
    display: flex;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px dashed $primary;

    > * {
      display: flex;
    }
    .left-data {
      justify-content: flex-start;
      width: 40%;
      font-weight: bold;
    }
    .right-data {
      justify-content: flex-end;
      width: 60%;
    }
  }
}
