@import '@/assets/stylesheets/all.scss';

.DetailProgressBar {
  width: 200px;
  margin-top: 20px;
  line-height: 24px;

  .title {
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px dashed $primary;
  }

  .field {
    display: flex;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px dashed $primary;

    > * {
      display: flex;
    }
    .left-data {
      justify-content: flex-start;
      width: 40%;
      font-weight: bold;
    }
    .right-data {
      justify-content: flex-end;
      width: 60%;
    }
  }
}
