@import '@/assets/stylesheets/all.scss';

.DetailList {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  line-height: 24px;

  .field {
    display: flex;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px dashed $primary;

    > * {
      display: flex;
    }

    .left-data {
      width: 40%;
      font-weight: bold;
    }
    .right-data {
      width: 60%;
    }
  }
}
