@import '@/assets/stylesheets/all.scss';

.DefaultPage {
  width: 21cm;
  height: 29.7cm;
  margin: 1cm auto;
  position: relative;

  font-size: 12px;
  line-height: 18px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.582);

  .trim {
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 1;

    background-color: $primary;
  }

  .trim-top {
    top: 0;
  }

  .trim-down {
    bottom: 0;
  }

  .side-bg {
    height: 100%;
    width: 285px;
    z-index: 0;
    position: absolute;
    right: 0;
    background: $page-bg-dark;
  }

  .content {
    height: 100%;
    width: 100%;
    display: inline-flex;

    > * {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .page {
      height: 100%;
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;

      background-color: $page-bg-Light;

      > * {
        width: 100%;
        position: relative;
        z-index: 3;
      }
      .item-top {
        height: 20%;

        display: flex;
        align-items: center;
      }
      .item-mid {
        height: 80%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;

        > .item {
          width: 200px;
        }
      }
    }
  }
}
