<div class="DefaultPage">

  <div class="trim trim-top" />

  <div class="side-bg"></div>
  <div class="content">
    <div class="page">

      <div class="item-top">
        <detail-title v-bind:phone="MobilePhone" />
      </div>

      <div class="item-mid">
        <div class="item" v-for="item in stateList">
          <detail-list v-if="item.type === 'List'" v-bind:detail-data="item" />
          <detail-progress-bar v-if="item.type === 'ProgressBarList'" v-bind:detail-data="item" />
          <detail-time-line v-if="item.type === 'TimeLine'" v-bind:detail-data="item" />
          <detail-text v-if="item.type === 'text'" v-bind:detail-data="item" />
          <detail-online-profile v-if="item.type === 'IconList'" v-bind:detail-data="item" />
        </div>
        <div class="item">
          <detail-projects />
        </div>
      </div>


    </div>

  </div>

  <div class="trim trim-down" />

</div>