@import '@/assets/stylesheets/all.scss';

.UnitTitle {
  .title {
    color: $primary;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px dashed $primary;
  }
}
